body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #D7E3C8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  min-height: 100vh;
  position: relative;
  padding-bottom: 6rem;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
}

nav ul {
  list-style: none;
  display: flex;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* ====================== */
/* NAVBAR & FOOTER */
.navbar {
  background-color: #343a40CC;
}
.logo img {
  width: 48px;
  height: 48px;
}

.navbar-brand {
  margin-right: 0;
}

.top {
  margin-bottom: 20px;
}

.bottom {
  margin-top: 30px;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  /* height: 4rem; */
}

.bottom .row {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 60px; */
}

/* ====================== */
/* HOME */
.home-header h2 {
  margin-bottom: 10px;
}

.home-image-frame {
  height: 50vh; 
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ====================== */
/* ABOUT */
.about-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-header h2 {
  margin-bottom: 10px;
}

.about-image-frame {
  height: 70vh; 
  width: 60vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-info h4 {
  margin-bottom: 10px;
}
.about-info {
  background-color: #F1F1F1F1;
  /* box-shadow: 0px 4px 4px #C3C3C3; */
  margin: 10px;
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  text-align: left
}

/* ====================== */
/* LOGIN, REGISTER */
.login-container, .register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login, .register, form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F1F1F1F1;
  margin: 10px;
  padding: 10px 10px;
}

.login, .register {
  width: 50%;
}

.error-message {
  color: #FF0000DE;
}

.form-group {
  margin-bottom: 0;
}

label {
  margin-top: 2px;
  margin-bottom: 0;
}

.btn {
  padding: 3px 10px;
  margin: 5px;
  border-radius: 8px;
}

/* ====================== */
.birdingSessionHeader {
  background-color: #F1F1F1F1;
  /* box-shadow: 0px 4px 4px #C3C3C3; */
  margin: 10px;
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.birdingSessionBody {
  background-color: #f1f1f1;
  /* box-shadow: 0px 4px 4px #C3C3C3; */
  margin: 10px;
  padding: 10px 10px;
}

.bird {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 100%; */
}
.bird .row {
  width: 100%;
}

.bird-info {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ====================== */
/* ICONS */
.clickable-icon {
  width: 20px;
  cursor: pointer;
  margin: 8px auto;
  transition: .2s linear;
  opacity: 0.8;
  
}

.bottom .logo {
  width: 64px;
}

.bottom .clickable-icon {
  margin: 0 auto;
}

.clickable-icon:hover {
  transform: scale(1.1);
  opacity: 1;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 40vw; */
  width: 172px;
}

.bird .icon-container {
  width: 30vw;
}

/* ====================== */
/* IMAGE THUMBNAIL */
.thumbnail {
  width: auto;
  max-height: 150px;
  cursor: pointer;
  margin: 5px;
  /* transition: .1s linear; */
}

.thumbnail:hover {
  /* transform: scale(1.2); */
  box-shadow: 0px 0px 30px 10px #FFFFFF;
  /* border:  1px solid gray; */
}

/* ====================== */
/* MODAL */
.modal-header {
  padding: 10px 10px;
  align-items: center;
}

.modal-body p {
  margin: 0;
}

.modal-content {
  border: none;
}

.modal-footer {
  padding: 10px 10px;
}

body:not(.modal-open){
  padding-right: 0px !important;
}

.modal-open{overflow:auto;padding-right:0 !important;}

/* ====================== */
/* MAP */
.map-header {
  background-color: #F1F1F1F1;
  padding: 10px;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map-header .row {
  width: 100%;
}

.map-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
  /* width: 70%; */
  margin: 0 10px;
  background-color: #f1f1f1;
}

/* ====================== */
/* SHARE */
.share-container {
  flex-direction: column;
  align-items: center;
}

.share-info {
  width: 60%;
  font-size: 0.9rem;
}

.share-info p {
  margin-bottom: 0.5rem;
  text-align: left;
}

/* ====================== */
/* PHOTO LIST */
/* .photo-list {
  display: flex;
  flex-direction: column;
  align-items: center; */
  /* width: 100%; */
/* } */

/* ====================== */
/* Media Queries */
/* Tablet */
@media screen and (max-width: 768px) {
  .about-image-frame{
    height: 50vh;
  }
  .bird-info {
    width: 130%;
  }
}
/* Mobile L */

@media screen and (max-width: 435px) {
  .login, .register {
    width: 80%;
  }

  .home-image-frame {
    position: relative;
  }

  .home-image {
    position: absolute;
    right: -130%;
  }

  .about-image-frame {
    width: 100%;
    height: 50vh;
  }

  .about-info {
    width: 100%;
  }

  .share-info {
    width: 100%;
  }

  .photo-list .form-row {
    width: 100%;
  }

}

/* Mobile M */
/* Mobile S */
@media screen and (max-width: 330px) {
  .home-image-frame {
    position: relative;
  }
  .home-image {
    position: absolute;
    right: -185%;
  }
}
