body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #D7E3C8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav ul {
  list-style: none;
  display: flex;
}

.birdingSessionHeader {
  background-color: #F1F1F1F1;
  /* box-shadow: 0px 4px 4px #C3C3C3; */
  margin: 10px;
  padding: 10px 30px;
}

.birdingSessionBody {
  background-color: #f1f1f1;
  /* box-shadow: 0px 4px 4px #C3C3C3; */
  margin: 10px;
  padding: 10px 30px;
}

.clickable-icon {
  width: 20px;
  cursor: pointer;
  margin: 8px auto;
  transition: .3s linear;
}

.clickable-icon:hover {
  transform: scale(1.1);
}

.thumbnail {
  width: auto;
  max-height: 150px;
  cursor: pointer;
  transition: .3s linear;
}

.thumbnail:hover {
  transform: scale(1.01);
}

.modal-header {
  padding: 4px 4px;
  align-items: center;
}

.map-header {
  background-color: #F1F1F1F1;
  margin: 0 10px;
}

.map-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  /* width: 70%; */
  margin: 0 10px;
  background-color: #f1f1f1;
}